body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color:red;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #333;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #333;*/
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*.root {
    flex-grow: 1;*/
    /*width: 100%;*/
    /*margin-top: theme.spacing.unit * 3;*/
    /*overflow-x: auto;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;*/
/*}*/

/*.table {
    /*min-width: 700px;*/
/*}*/


/*TODO: bad selector !!!*/
/*.aaaaa {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #333;
   
}*/
/*.grow {
    flex-grow: 1;
}


.menuButton {
    margin-left: -12px;
    margin-right: 20px,
}

.MuiTableCell-body-195{
    font-size: 14px !important;
}*/
.textField {
    margin-left: 8px !important;
    margin-right: 8px !important;
    width: 200px;
    font-size: 14px;
}
.textField label{
    font-size: 13px;
}
    .textField textarea,
    .textField div {
        font-size: 14px;
        min-height: 16px;
    }
    .app-menu-item,
    .app-menu-item > span {
        font-size: 18px;
    }
.purchase-grid-table-row .purchase-grid-table-cell {
    font-size: 14px;
}
.purchase-grid-table-head {
    background-color: #d60094;
}
    .purchase-grid-table-head .purchase-grid-table-row .purchase-grid-table-cell {
        font-size: 18px;
    }

